<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242995410968-fpk38n89ksmapnndmr994h1n6bt4lbm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242995410968-fpk38n89ksmapnndmr994h1n6bt4lbm6</string>
	<key>API_KEY</key>
	<string>AIzaSyD7zmfrNCZZRr7-hYXVzfbqU9n-bKYrwS0</string>
	<key>GCM_SENDER_ID</key>
	<string>242995410968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BellyChefs.bellyKitchen</string>
	<key>PROJECT_ID</key>
	<string>bellykitchen-619a4</string>
	<key>STORAGE_BUCKET</key>
	<string>bellykitchen-619a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242995410968:ios:08d3e755f562116f8b6b6d</string>
</dict>
</plist>